{% extends 'layout.jinja2' %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js"></script>
<script src="static/js/Game.js"></script>
<script src="static/js/ViewUtils.js"></script>
<div id="container"></div>
<script>
    let BOARD_WIDTH = 800;
    let BOARD_HEIGHT = 800;
    let PRIMARY_TILE_COLOR,SECONDARY_TILE_COLOR;
    let NUM_TILES_WIDE,NUM_TILES_TALL;
    let BOARD_TILE_WIDTH_SIZE,BOARD_TILE_HEIGHT_SIZE;
    let king;
    let sprites = [];
    let WHITE_COLOR,BLACK_COLOR,HOVER_COLOR;
    let selectedCoords = {x: -1, y: -1};

    let game = Game();

    function preload(){
        NUM_TILES_TALL = game.dimensions.height;
        NUM_TILES_WIDE = game.dimensions.width;
        BOARD_TILE_WIDTH_SIZE = BOARD_WIDTH/NUM_TILES_WIDE;
        BOARD_TILE_HEIGHT_SIZE = BOARD_HEIGHT/NUM_TILES_TALL;
        for(let idx in game.pieces){
            if(idx == 0) continue // :)
            sprites[-idx] = loadImage('static/media/chess_sprites/black_'+game.pieces[idx].name+".png");
            sprites[idx] = loadImage('static/media/chess_sprites/white_'+game.pieces[idx].name+".png");
        }
        PRIMARY_TILE_COLOR = color(game.primaryTileColor);
        SECONDARY_TILE_COLOR = color(game.secondaryTileColor);
        // king = loadImage('static/media/chess_sprites/black_king.png');
    }

    function setup(){
        let canvas = createCanvas(BOARD_WIDTH,BOARD_WIDTH);
        canvas.parent('container');
        WHITE_COLOR = color(255,255,255);
        BLACK_COLOR = color(0,0,0);
        HOVER_COLOR = color("yellow");
    }

    function draw(){
        drawBackground();
        drawTiles();
        drawPieces();
        handleInput();
    }

    function handleInput(){

    }

    function mousePressed(){
        selectedCoords.x = mouseXToTile();
        selectedCoords.y = mouseYToTile();
    }

    function mouseReleased(){
        if(selectedCoords.x != -1 && selectedCoords.y != -1){
            // if(game.moveIsValid(selectedCoords.x, selectedCoords.y, mouseXToTile(). mouseYToTile())){}
            game.board[mouseYToTile()][mouseXToTile()] = game.board[selectedCoords.y][selectedCoords.x];
            game.board[selectedCoords.y][selectedCoords.x] = 0;
            selectedCoords.x = -1;
            selectedCoords.y = -1;
        }
    }

    function drawPieces(){
        for(let y in game.board)
            for(let x in game.board[y]){
                if(game.board[y][x] == 0) continue; // :)
                if(selectedCoords.x == x && selectedCoords.y == y)
                    image(sprites[game.board[y][x]], mouseX-BOARD_TILE_WIDTH_SIZE/2, mouseY-BOARD_TILE_HEIGHT_SIZE/2, BOARD_TILE_WIDTH_SIZE, BOARD_TILE_HEIGHT_SIZE);
                else
                    image(sprites[game.board[y][x]], x*BOARD_TILE_WIDTH_SIZE, y*BOARD_TILE_HEIGHT_SIZE, BOARD_TILE_WIDTH_SIZE, BOARD_TILE_HEIGHT_SIZE);
                
            }
    }

    function drawBackground(){
        fill(WHITE_COLOR);
        stroke(BLACK_COLOR);
        strokeWeight(4);
        rect(0,0,BOARD_WIDTH,BOARD_HEIGHT);
    }

    function mouseIsOverPiece(x, y){
        return mouseX && mouseY && // mouse is within canvas, canvas has focus
        mouseXToTile()==x && mouseYToTile()==y && // mouse is within this specific tile
        game.board[y][x] != 0; // this tile contains a piece
        // && game.playerTurn = playerTurn // its this player's turn (premoves make this silly)
    }

    function mouseXToTile(){
        return intdiv(mouseX,BOARD_TILE_WIDTH_SIZE);
    }

    function mouseYToTile(){
        return intdiv(mouseY,BOARD_TILE_HEIGHT_SIZE);
    }

    function drawTiles(){
        noStroke();
        for(let y = 0; y < NUM_TILES_TALL; y++)
            for(let x = 0; x < NUM_TILES_WIDE; x++){
                if(mouseIsOverPiece(x, y) && selectedCoords.x == -1 && selectedCoords.y == -1) fill(HOVER_COLOR);
                else if((x+y)%2==0) fill(PRIMARY_TILE_COLOR);
                else fill(SECONDARY_TILE_COLOR);
                square(x*BOARD_TILE_WIDTH_SIZE, y*BOARD_TILE_HEIGHT_SIZE, BOARD_TILE_WIDTH_SIZE);
            }
    }
</script>
{% endblock %}