<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
        <title>Bless this Chess</title>
        <link rel="stylesheet" href="static/css/basic.css">
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poiret+One&display=swap" rel="stylesheet"> 
        <!-- fa fa search icon -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <h1><a href="/">&#x265F Bless this Chess &#x265F</a></h1>

        <div class="page">
            <nav>
                <a href="/play">Play</a>
                <a href="/create">Create</a>
                <a href="/gallery">Gallery</a>
                <a href="/login">Profile</a>
            </nav>

            <div class="maincontent">
                {%if map.containsKey('notif')%}
                <div class="notif"><span style="font-size:20pt; margin-right:20px;">&#x1F4E2</span>{{map.get('notif')}}</div>
                {%endif%}
                <form style="float:right;">
                    <input type="text" style="width:13vw;" placeholder="Search...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <h2>Welcome!</h2>
                <div>
                    {{map.get('testvar')}}
                    <p>Lorem ipsum dolor sit amet, per repudiandae complectitur consequuntur ad, 
                    ei qui phaedrum conceptam. Sea ei philosophia definitiones, an his graece 
                    regione. An atomorum iudicabit vim, has volutpat forensibus ex, autem integre 
                    honestatis sit ex. Eum suas malis explicari at, pri in errem similique. Mea 
                    impetus comprehensam in, error fastidii ad sed.</p>
                    
                    <p>Tale clita eos ei, his verear accusata at, animal labitur id eos. Et mei posse 
                    alienum, altera iracundia ullamcorper at pro. Sed natum epicuri argumentum et, 
                    sea alii iriure periculis in, mel legimus offendit no. Munere putant prodesset 
                    ius in, mucius voluptatibus ad his. Et usu dicunt accusam, commodo reformidans 
                    qui ut, habemus mnesarchum eum ut. Vix regione persius cu, ut vel veri disputando, 
                    cu vix inermis lobortis accusamus. Sit et vocent quaeque invenire, ignota perfecto 
                    pertinax et eos, doming suscipit concludaturque ex sed.</p>

                    <h3>Spotlight Game</h3>
                    <img src="static/media/chessboard.png" style="width:100%; max-width:800px;">

                    <p>No utamur singulis vis, at sed ubique laoreet forensibus. Ei qui sale integre 
                    platonem, in vitae vulputate incorrupte usu, an case appetere complectitur his. 
                    Eu ludus intellegat definitiones vix, ius in vidisse urbanitas scribentur. Quodsi 
                    volutpat laboramus in mei. Ut sit alia velit. Oblique gloriatur ei nam, vis natum 
                    dolor ceteros ad.</p>
    
                    <p>Pri et numquam noluisse antiopam, vim viderer explicari an, eu facete efficiantur 
                    cum. In elit sententiae efficiantur vel, no bonorum assueverit has. Ut nam indoctum 
                    evertitur maiestatis. Mea prima scripserit eu, facete prodesset at mel. Cu oporteat 
                    perfecto est. Duo verear accusata eu, id mei idque pericula evertitur, has eu brute 
                    mnesarchum. Convenire dissentiet mea ut, id pri dolores splendide posidonium.</p>
    
                    <p>Vidit autem omittantur cu usu. Lorem malis sea et, autem corpora convenire vel at, 
                    ne eum veniam diceret. Ei posse minimum has, vis legimus delicatissimi no. Dicant 
                    vocibus facilis mei at, quem duis saperet his in. Dicat veritus convenire an usu.</p>
                </div>
            </div>
        </div>
    </body>
    <footer>
        Made with &#x2764 by Josh, Bella, Robby & Jack
    </footer>
</html>