{% extends 'layout.jinja2' %}

{% block content %}
    <div style='display:flex'>
        <div style='display:inline-block;width:25%;padding-right:20px'>
            <img src="static/media/chessboard.png" title='this is a profile photo' style="width:100%">
            <p>User's bio, badges & other info goes here</p>
        </div> 
        <div style='display:inline-block;width:75%;padding-left:20px'>
            <h2 style='font-size:20pt;margin:0px'>testusername</h2>
            <div>Ranking goes here</div>
            <div style='display:flex;margin-top:20px'>
                <a class='subnav' href="/profile">Featured Page</a>
                <a class='subnav' href="/profile">Custom Pieces</a>
                <a class='subnav' href="/profile">Friends</a>
            </div>
            <hr style='margin:0px'>
            <div>
                <p>Lorem ipsum dolor sit amet, per repudiandae complectitur consequuntur ad, 
                ei qui phaedrum conceptam. Sea ei philosophia definitiones, an his graece 
                regione. An atomorum iudicabit vim, has volutpat forensibus ex, autem integre 
                honestatis sit ex. Eum suas malis explicari at, pri in errem similique. Mea 
                impetus comprehensam in, error fastidii ad sed.</p>
                
                <p>Tale clita eos ei, his verear accusata at, animal labitur id eos. Et mei posse 
                alienum, altera iracundia ullamcorper at pro. Sed natum epicuri argumentum et, 
                sea alii iriure periculis in, mel legimus offendit no. Munere putant prodesset 
                ius in, mucius voluptatibus ad his. Et usu dicunt accusam, commodo reformidans 
                qui ut, habemus mnesarchum eum ut. Vix regione persius cu, ut vel veri disputando, 
                cu vix inermis lobortis accusamus. Sit et vocent quaeque invenire, ignota perfecto 
                pertinax et eos, doming suscipit concludaturque ex sed.</p>

                <p>No utamur singulis vis, at sed ubique laoreet forensibus. Ei qui sale integre 
                platonem, in vitae vulputate incorrupte usu, an case appetere complectitur his. 
                Eu ludus intellegat definitiones vix, ius in vidisse urbanitas scribentur. Quodsi 
                volutpat laboramus in mei. Ut sit alia velit. Oblique gloriatur ei nam, vis natum 
                dolor ceteros ad.</p>

                <p>Pri et numquam noluisse antiopam, vim viderer explicari an, eu facete efficiantur 
                cum. In elit sententiae efficiantur vel, no bonorum assueverit has. Ut nam indoctum 
                evertitur maiestatis. Mea prima scripserit eu, facete prodesset at mel. Cu oporteat 
                perfecto est. Duo verear accusata eu, id mei idque pericula evertitur, has eu brute 
                mnesarchum. Convenire dissentiet mea ut, id pri dolores splendide posidonium.</p>

                <p>Vidit autem omittantur cu usu. Lorem malis sea et, autem corpora convenire vel at, 
                ne eum veniam diceret. Ei posse minimum has, vis legimus delicatissimi no. Dicant 
                vocibus facilis mei at, quem duis saperet his in. Dicat veritus convenire an usu.</p>
            </div>
        </div>
    </div>
{% endblock %}