<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
        <title>Chess | Signup</title>
        <link rel="stylesheet" href="../static/css/basic.css">
    </head>
    <body>
        <form action="/signup" method="post" style="width:530px;margin:auto;margin-top:40px;padding-bottom:60px">
            <h1>Chess Signup</h1><hr>
            Username: <br>
            <input name="username" type="text"/><br>
            {%if map.containsKey('usernameError')%}
                <div class="error">{{map.get('usernameError')}}</div>
            {%endif%}
            Password: <br>
            <input name="password" type="password"/><br>
            {%if map.containsKey('passwordError')%}
                <div class="error">{{map.get('passwordError')}}</div>
            {%endif%}
            Email: <br>
            <input name="email" type="text"/><br>
            {%if map.containsKey('emailError')%}
                <div class="error">{{map.get('emailError')}}</div>
            {%endif%}
            {%if map.containsKey('signupError')%}
                <div class="error">{{map.get('signupError')}}</div>
            {%endif%}
            <button>Sign up</button>
        </form>
    </body>
</html>