<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
        <title>Chess Website</title>
        <link rel="stylesheet" href="static/css/basic.css">
    </head>
    <div>
        <h1>Chess Website</h1>
        <nav>
            <a href="styletesting.html">Link1</a>
            <a href="styletesting.html">Link2</a>
            <a href="styletesting.html">Link3</a>
        </nav><br>
    </div>
    
    <body>
        <div class="maincontent">
            <img width="50vw" height="50vh" src="static/media/frown.png"><br>
            <h2>Error</h2>
            <p>{{map.get("error")}}</p>
            <a href="/">Click here to return to the home page.</a>
        </div>
    </body>
    <footer>
        this is a footer bla bla 
    </footer>
</html>