{% extends 'layout.jinja2' %}

{% block title %}
    Error
{% endblock %}

{% block content %}
    <img width="50vw" height="50vh" src="/static/media/frown.png"><br>
    <p>{{map.get("error")}}</p>
    <a href="/">Click here to return to the home page.</a>
{% endblock %}